.imageGrid {
  padding: 1rem;
  display: grid;

  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  img {
    transition: all 0.5s ease-in-out;
    width: 100%;
    object-fit: cover;
  }
}

.imageGrid:has(img:hover) {
  img {
    scale: 1.2;
  }
  img:not(:hover) {
    opacity: 0.8;
    scale: 0.9;
  }
}

.gridSection {
  h3 {
    width: fit-content;
    margin: 1rem auto;
    line-height: 0.8;
    border-bottom: 1px solid #213547;
    color: #213547;
    font-size: 4rem;
  }
}
